.box-layout{
    background: url('/img/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

.box-layout__box{
    background: fade-out($color: white, $amount: .35);
    border-radius: 10px;
    padding: $l-size $m-size;
    text-align: center;
    width:  25rem;
}

.box-layout__tittle {
    margin: 0 0 $m-size 0;
    line-height: 1;
}

.box-layout__p {
    font-size: 1.6rem;
    font-weight: 450;
}